@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
	background-image: url(https://raw.githubusercontent.com/ErickOrrante/SoslayadosEludiudos/main/fondo%20negro.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

img {
	height: 170px;
	width: auto;
	filter: drop-shadow(-2px 2px 15px rgba(0, 255, 0, 0.9));
}

header {
	display: flex;
	justify-content: flex-end;
	padding: 50px, 50px;
}

.MenuT {
	color: rgb(3, 252, 244);
	font-family: 'Grey Qo', cursive;
	font-size: 55px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 17px rgba(191, 2, 252, 0.7);
}

.MenuT:Hover {
	color: rgb(248, 5, 211);
}

.CajaMaestra {
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
}

.Menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 45px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 17px rgba(191, 2, 252, 0.7);
}

.Contacto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: white;
}

.email {
	font-family: 'Puppies Play', cursive;
	font-size: 40px;
	color: rgb(126, 214, 238);
	text-decoration: none;
	font-weight: bold;
}

.email:Hover {
	color: rgb(68, 6, 249);
}